body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

.status-chip.new {
  background-color: #ff9800;
  color: white;
}
.status-chip.finished {
  background-color: #00c853;
  color: white;
}
.status-chip.cancelled {
  background-color: #d50000;
  color: white;
}
